[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Change Wallpaper
Comment=
Exec=/usr/local/bin/apply-wallpaper.xsh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

