[Desktop Entry]
Type=Application
Icon=application-certificate
Exec=/opt/kse/kse.sh
Terminal=false
Hidden=false
Keywords=Java;Cert;Key;Keytool
Categories=System; Utility
Name=KeyStore Explorer
Comment=A GUI replacement for Keytool CLI
