[Desktop Entry]
Type=Application
Icon=robo3t
Name=Robo 3T
Exec=/opt/robo3t/bin/robo3t
Terminal=false
Hidden=false
Keywords=Mongo;IDE;Test;DB
Categories=Development
Comment=MongoDB Development
