#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Name=SoapUI-5.5.0
Exec="/opt/SoapUI/bin/SoapUI-5.5.0"
Icon=/opt/SoapUI/.install4j/SoapUI-5.5.0.png
Categories=Development
Terminal=false
Hidden=false
Keywords=REST;API;Test
